@model IEnumerable<DropThisSite.Models.Supplier>

@{
    ViewData["Title"] = "Список";
}

<h1>Список</h1>

<p>
    <a asp-action="Create">Создать запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameSupplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneSupplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailSupplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameSupplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneSupplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailSupplier)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSupplier">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.IdSupplier">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSupplier">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
