@model IEnumerable<DropThisSite.Models.Stone>

@{
    ViewData["Title"] = "Список";
}

<h1>Список</h1>

<p>
    <a asp-action="Create">Создать запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameStone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColorStone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeightStone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameStone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColorStone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightStone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdStone">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.IdStone">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.IdStone">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
