@model IEnumerable<DropThisSite.Models.User>

@{
    ViewData["Title"] = "Список";
}

<h1>Список</h1>

<p>
    <a asp-action="Create">Создать запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.NameRole)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUser">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.IdUser">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUser">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
